<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Varun Portfolio</title>
</head>


<body>
<nav class="nav">
        <a href="/home" class="nav-item" active-color="white">Home</a>
        <a href="/about" class="nav-item" active-color="white">About</a>
        <a href="/about#projects" class="nav-item" active-color="white">Projects</a>
        <a href="/contact" class="nav-item is-active" active-color="white">Contact</a>
        <span class="nav-indicator"></span>
      </nav>

        

      <section id="contact-section">
        <form
        action="https://formspree.io/xnqgpzk"
        method="POST"
      >
      <div class="containerr">
        <h2>Contact Me</h2>

     <div class="contact-form">

          <!-- First grid -->
       <div>
         <i class="fa fa-map-marker"></i><span class="form-info">  chennai,tamilnadu</span><br>
         <i class="fa fa-phone" > </i><span class="form-info">  +92 9999999999</span><br>
         <i class="fa fa-envelope"></i><span class="form-info"> varunkumar0930@gmail.com</span>
         <div class="icon1">
            <div class="icon-link">
                 <a href="https://twitter.com/BNK2404" class="iconbtn fab fa-twitter" target="blank"></a>
                 <a href="https://www.instagram.com/_bnk_24/" class="iconbtn fab fa-instagram" target="blank"></a>
                 <a href="https://github.com/Bala244" class="iconbtn fab fa-git" target="blank"></a>
            </div>
          </div>
        </div>
       

       
       
           <!-- second grid -->
   <div>        
     <form>
       <input type="text" placeholder="Your Name" required>
       <input type="text" placeholder="Last Name"><br>
       <input type="Email" placeholder="Email" required><br>
       <input type="text" placeholder="Subject of this message"><br>
       <textarea name="message" placeholder="Message" rows="5" required></textarea><br>
       <button class="submit" >Send Message</button> 
     </form>   
       </div>
     </div>
   </div>
   
   </section>

   
<!-- Javascript -->




<script>
  const indicator = document.querySelector('.nav-indicator');
const items = document.querySelectorAll('.nav-item');

function handleIndicator(el) {
items.forEach(item => {
  item.classList.remove('is-active');
  item.removeAttribute('style');
});

indicator.style.width = `${el.offsetWidth}px`;
indicator.style.left = `${el.offsetLeft}px`;
indicator.style.backgroundColor = el.getAttribute('active-color');

el.classList.add('is-active');
el.style.color = el.getAttribute('active-color');
}


items.forEach((item, index) => {
item.addEventListener('click', (e) => { handleIndicator(e.target)});
item.classList.contains('is-active') && handleIndicator(item);
});
</script>

</body>
